/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Enlaces */
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}

a:hover {
    color: #535bf2;
}

/* Estilos base del documento */
body,
#root {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: darkgrey;
    color: #333;
}
