.bannerContenair {
    width: 100%;
    height: 16em;
    border-radius: 1em;
    margin: 2em 0;
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0, 0.4);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    h1 {
        color: white;
        position: absolute;
        width: 100%;
        top: 40%;
        text-align: center;
        font-size: 2.9em;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// styles pour le banner sur la page About
.bannerAbout {
    width: 100%;
    height: 16em;
    border-radius: 1em;
    margin: 2em 0;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .bannerContenair {
        width: 100%;
        height: 10em;

        h1 {
            width: 100%;
            top: 2.4em;
            text-align: left;
            font-size: 1.4em;
            font-weight: bold;
            padding-left: 1em;
            padding-right: 7em;
        }
    }

    .bannerAbout {
        width: 100%;
        height: 10em;
        margin: 1em 0;

        h1 {
            display: none;
        }
    }
}
