section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 0;
}

ul {
    list-style: none;
}

.menuClose {
    position: relative;
    margin-top: 3em;
    color: white;
    background-color: #ff6060;
    padding: 0.8em;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    button {
        all: unset;
        cursor: pointer;
    }
}

.description {
    position: absolute;
    left: 0;
    top: 3em;
    background-color: #f6f6f673;
    text-align: left;
    padding: 1.5em 0.8em 0.8em 0.8em;
}
