section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 0;
    background-color: #f6f6f673;
    border-radius: 0.6em;

    position: relative;
}

ul {
    list-style: none;
}

.headline {
    color: white;
    background-color: #ff6060;
    padding: 0.8em;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;

    button {
        all: unset;
        cursor: pointer;
    }
}

.description {
    text-align: left;
    padding: 0.8em;
    position: relative;
    z-index: 1;
}

.arrowUp {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}
