footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: calc(-50vw + 50%);
    height: 16em;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    p {
        color: white;
    }
}
