.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 0.5rem 0rem;
}

.navigation {
    display: flex;
    gap: 2em;

    a {
        color: black;
        font-size: large;
    }
}

.activeLink {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;

        img {
            width: 90%;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.8em;

        a {
            color: black;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }
}
