main {
    margin: 2em 0;
}

.contenairInfo {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    h1 {
        color: #ff6060;
    }
    h2 {
        font-size: 1em;
    }
}

.contenairHost {
    display: flex;
    align-items: center;
    gap: 0.2em;

    img {
        border-radius: 50%;
        width: 6em;
        object-fit: cover;
        display: block;
    }

    p {
        width: 5em;
        color: #ff6060;
        text-align: center;
    }
}

.contenairTagRate {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
}

.dropDown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
}

.stars {
    display: flex;
    justify-content: end;
}
