.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    width: 12em;
    padding: 0.5em 1em;
    border-radius: 1.2em;
    color: white;
    font-size: smaller;
    font-weight: 600;
}

@media (max-width: 768px) {
    .tag {
        font-size: 0.6em;
    }
}
